[Desktop Entry]
Name=Formula 1 TV
Exec=webapp-container --app-id="f1-tv.alexmigf" --webappUrlPatterns https://f1tv.formula1.com/en/
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true